.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(55, 56, 52, 0.998),
    rgba(11, 10, 10, 0.9)
  );
  padding: 10px;
  color: #fff;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
i {
  color: #fff;
  font-size: 1.2rem;
}
@media (min-width: 740px) {
  .about-container {
    flex-direction: row;
  }
}
